img {
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* KHTML based browsers */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
    -webkit-touch-callout: none; /* Disable long press on mobile */
}
body {
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* KHTML based browsers */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
