body {
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* KHTML based browsers */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

img {
    pointer-events: none; /* Mencegah interaksi mouse pada gambar */
    -webkit-user-drag: none; /* Mencegah penarikan gambar di Safari */
}
