p {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--green);
  max-width: 80%;
}
n {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--sea);
  max-width: 80%;
}
h1 {
  margin: auto;
  font-size: 2rem;
  font-weight: 800;
  color: var(--orange);
}
